
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
   /* color: white;*/
}
body{
    background: #f2f2f2;

}
nav{
    background: #1b1b1b;

}
nav::after{
    content: '';
    clear: both;
    display: table;

}

nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
   
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;


}

nav ul li{
  
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;

}
.show,.bn,.icon{
display: none;
}


@media all and (max-width: 968px){
    nav ul{
        margin-right: 0px;
        float: left;
    }
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    nav ul li{
        
        display: block;
        width: 100%;
    }
    nav ul li a{
        border: none;
         
     }
    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;

    }
    ul{
        display: none;
    }
    [id^=btn]:checked + ul{ display: block;
     
    }

  
}

.im-1 {
    width: 100%;
    background: url(/img/libros.jpg) no-repeat;
    background-size: cover;
    height: 400px;
}
.im-2 {
    width: 100%;
    background: url(/img/177497.jpg) no-repeat;
    background-size: cover;
    height: 500px;
}
.im-3 {
    width: 100%;
    background: url(https://www.softzone.es/app/uploads-softzone.es/2020/06/Programaci%C3%B3n-GO.jpg) no-repeat;
    background-size: cover;
    height: 500px;
}

.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 1600px;
    height: 600px;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -135%;}
    45% {margin-left: -140%;}

    50% {margin-left: -275%;}
    70% {margin-left: -280%;}

    75% {margin-left: -415%;}
    100% {margin-left: -420%;}

}

